<div class="schedule">
    <h2>スケジュール詳細</h2>
    <table calss="long">
        <tr>
            <th>タイトル</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>終日</th>
            <th>スケジュールメモ</th>
        </tr>
        <tr>
             <td><%=@schedule.title %></td>
             <td><%=@schedule.start %></td>
             <td><%=@schedule.end %></td>
        </tr>
    </table>
    <ul>
        <li><%=link_to("スケジュール一覧に戻る","/") %></li>
        <li><%=link_to("スケジュールを編集する", "/edit/#{@schedule.id}") %></li>
        <li></li>
    </ul>
</div>